- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Copy index.html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html

- name: Ensure nginx is running
  systemd:
    name: nginx
    state: started
    enabled: true
